{{ define "main" }}
{{ partial "banner-index.html" . }}

<div class="main-page">
    <div class="container">
        <div class="section">
            <div class="columns is-centered">
                <div class="column is-9">
                    {{ $archive := lower .Title }}
                    {{ range $key, $value := .Site.Taxonomies.archives }}{{ if eq $key $archive }}{{ range $value.Pages }}
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <a href="{{ .Permalink }}">
                                    <div class="featured-image image-container" data-src="{{ .Params.featured_image }}">
                                            <img class="image-placeholder" src="{{ replace .Params.featured_image  ".jpg" ".svg" }}" class="img-small">
                                    </div>
                                    <!-- <img class="featured-image" data-src="{{ .Params.featured_image }}" alt="featured_image"> -->
                                </a>
                                <figcaption class="is-inline has-text-centered is-size-6 text-muted">
                                    <div class="post-meta is-inline">
                                        <i class="fas fa-list-ul"></i>
                                        <div class="is-inline">
                                            {{ range .Params.archives }}
                                            <a href="{{ $.Site.LanguagePrefix }}/archives/{{ . | urlize }}">{{ . }}</a>
                                            {{ end }}
                                        </div>
                                    </div>
                                    <div class="post-meta is-inline">
                                        <i class="fas fa-tags"></i>
                                        <div class="is-inline">
                                            {{ range .Params.tags }}
                                            <a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>
                                            {{ end }}
                                        </div>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <div class="title has-text-centered"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></div>
                                    <div class="is-size-6 text-muted has-text-centered">

                                        <div class="post-meta">
                                            {{ .Date.Format "2006-01-02" }}
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="content">
                                {{ if .Truncated }}
                                <p>{{ .Summary }}</p>
                                <div class="is-pulled-right"><a class="button" href="{{ .Permalink }}">繼續閱讀</a></div>

                                {{ else }}
                                <p>{{ .Content }}</p>
                                {{ end }}
                                <br>
                                <time datetime="2016-1-1"></time>
                            </div>
                        </div>
                    </div>
                    {{ end }}{{ end }}{{ end }}

                </div>

            </div>
        </div>
    </div>
</div>
{{ end }}