



<!-- hero -->
<section class="banner">
    <div class="inner">
        <h1>{{ .Site.Params.subtitle }}</h1>
        <div class="header-info is-hidden-touch">
            <p><i class="fa fa-quote-left"></i> {{ .Site.Params.description }} <i class="fa fa-quote-right"></i></p>
        </div>
    </div>
    <!-- <div class="headertop-down faa-float animated"><i class="fa fa-chevron-down" aria-hidden="true"></i></div> -->
    <!-- <div class="hero-body" style="background-image: url({{ "img/bg-blog.jpg" | absURL }});">
        <div class="container has-text-centered">
            <a href="/">
                <h1 class="title is-size-1">
                    {{ .Site.Title }}
                </h1>
            </a>

        </div>
    </div> -->
</section>
