<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="mysocial"><span class="iconfont icon-twitter"></span></a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/{{ .Site.Author.youtube }}" class="mysocial"><span class="iconfont icon-youtube"></span></a>&nbsp;&nbsp;
            <a href="https://github.com/{{ .Site.Author.github }}" class="mysocial"><span class="iconfont icon-github"></span></a>&nbsp;&nbsp;
            <br><br>
            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}} - Theme by <a href="https://zio.tw" class="mysocial">Log</a>
        </p>
    </div>
</footer>
