<!-- nav -->

<!-- /nav -->

<nav class="navbar is-transparent is-fixed-top is-top is-hidden-touch">
    <div class="navbar-menu">
        <div class="navbar-brand">
            <a class="navbar-item navbar-title" href="/">
                {{ .Site.Title }}
            </a>
        </div>
        <div class="navbar-start">
            <a class="navbar-item navbar-hover-line" href="/">
                <span>
                    <span class="iconfont icon-home"></span> Home
                </span>
                
            </a>
            <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
                
                <a class="navbar-link" href="#">
                    <span>
                        <span class="iconfont icon-category"></span> Categories
                    </span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/categories/her">
                        <span>
                            <span class="iconfont icon-female"></span> Her
                        </span>
                    </a>
                    <a class="navbar-item" href="/categories/music">
                        <span>
                            <span class="iconfont icon-music"></span> Music
                        </span>
                    </a>
                    <a class="navbar-item" href="/categories/other">
                        <span>
                            <span class="iconfont icon-list"></span> Other
                        </span>
                    </a>

                </div>
            </div>
            <!-- <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
                
                <a class="navbar-link" href="#">
                    <span>
                            <span class="iconfont icon-list"></span> List
                    </span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/categories/her">
                        <span>
                            <span class="iconfont icon-female"></span> Her
                        </span>
                    </a>
                    <a class="navbar-item" href="https://music.zio.tw">
                        <span>
                            <span class="iconfont icon-music"></span> Music
                        </span>
                    </a>
                    <a class="navbar-item" href="/categories/other">
                        <span>
                            <span class="iconfont icon-list"></span> Other
                        </span>
                    </a>

                </div>
            </div> -->
            <!-- <a class="navbar-item navbar-hover-line" href="/comment">
                <span>
                <span class="iconfont icon-comment"></span> Comments
            </span>
            </a> -->
            <!-- <a class="navbar-item navbar-hover-line" href="/">
                <span>
                    <span class="iconfont icon-link"></span> Links
                </span>
            </a> -->
            <a class="navbar-item navbar-hover-line" href="https://paypal.me/letter5j">
                <span>
                    <span class="iconfont icon-loveit"></span> Donation
                </span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
                
                    <a class="navbar-link" href="#">
                        <span>
                        <span class="iconfont icon-about"></span> About
                    </span>
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="https://zio.tw/">
                            <span>
                                <span class="iconfont icon-me"></span> Me?
                            </span>
                        </a>

                    </div>
            </div>
            <a class="navbar-item navbar-hover-line" href="https://zio.tw/portfolio/">
                <span>
                    <span class="iconfont icon-project"></span> Projects
                </span>
            </a>
            
        </div>
        
    
        <div class="navbar-end">
                <a class="navbar-item navbar-title" href="https://cse.google.com.tw/cse?cx=002424294634258588665:yyleilm5lyq">
                    <span class="iconfont icon-search"></span>
                </a>
        </div>
    </div>
</nav>

<nav class="side is-hidden-desktop">
        <div class="side-avatar"><img src="https://i.imgur.com/qDDWaM8.png"></div>
        <p style="text-align: center; color: #333; font-weight: 900; font-family: 'Ubuntu', sans-serif; letter-spacing: 1.5px; color: #d5d2cd;">Log</p>
        <div class="side-social">
            <div class="side-social-item">
                <a href="https://github.com/letter5j">
                    <span class="iconfont icon-github"></span>
                </a>
            </div>
            <div class="side-social-item">
                <span>
                        <span class="iconfont icon-email"></span>
                </span>
            </div>
        </div>
        <div class="side-search"><a href="https://cse.google.com.tw/cse?cx=002424294634258588665:yyleilm5lyq">
            <span>
                <span class="iconfont icon-search"></span>
            </span>
        </a></div>

        <a class="navbar-item navbar-hover-line" href="/">
            <span>
                <span class="iconfont icon-home"></span> Home
            </span>
            
        </a>
        <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
                
            <a class="navbar-link" href="#">
                <span>
                    <span class="iconfont icon-category"></span> Categories
                </span>
            </a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/categories/her">
                    <span>
                        <span class="iconfont icon-female"></span> Her
                    </span>
                </a>
                <a class="navbar-item" href="/categories/music">
                    <span>
                        <span class="iconfont icon-music"></span> Music
                    </span>
                </a>
                <a class="navbar-item" href="/categories/other">
                    <span>
                        <span class="iconfont icon-list"></span> Other
                    </span>
                </a>

            </div>
        </div>
        <!-- <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
                
            <a class="navbar-link" href="#">
                <span>
                        <span class="iconfont icon-list"></span> List
                </span>
            </a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/categories/her">
                    <span>
                        <span class="iconfont icon-female"></span> Her
                    </span>
                </a>
                <a class="navbar-item" href="https://music.zio.tw">
                    <span>
                        <span class="iconfont icon-music"></span> Music
                    </span>
                </a>
                <a class="navbar-item" href="/categories/other">
                    <span>
                        <span class="iconfont icon-list"></span> Other
                    </span>
                </a>

            </div>
        </div>
        <a class="navbar-item navbar-hover-line" href="/comment">
            <span>
                <span class="iconfont icon-comment"></span> Comments
            </span>
        </a>
        <a class="navbar-item navbar-hover-line" href="/">
            <span>
                <span class="iconfont icon-link"></span> Links
            </span>
        </a> -->
        <a class="navbar-item navbar-hover-line" href="https://paypal.me/letter5j">
            <span>
                <span class="iconfont icon-loveit"></span> Donation
            </span>
        </a>
        <div class="navbar-item has-dropdown is-hoverable navbar-hover-line">
            
                <a class="navbar-link" href="#">
                    <span>
                        <span class="iconfont icon-about"></span> About
                    </span>
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="https://zio.tw/">
                        <span>
                            <span class="iconfont icon-me"></span> Me?
                        </span>
                    </a>

                </div>
        </div>
        <a class="navbar-item navbar-hover-line" href="https://zio.tw/portfolio/">
            <span>
                <span class="iconfont icon-project"></span> Projects
            </span>
        </a>
    
</nav>
<div class="hamburger hamburger--collapse is-hidden-desktop" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</div>
