{{ define "main" }}
{{ partial "banner-index.html" . }}
<div class="main-page">
  <div class="container">
    <div class="section">
      <div class="columns is-centered">
        <div class="column is-9">
          {{ $data := .Data }}

          <aside class="menu">
            <p class="menu-label">
              List
            </p>
            <ul class="menu-list">
              {{ range $key, $value := .Data.Terms.ByCount }}
              <li>
                <a href="{{ $.Site.LanguagePrefix }}/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name}}
                  <span class="tag is-link">{{ $value.Count }}</span>
                </a>
              </li>
              {{ end }}
            </ul>

          </aside>



        </div>

      </div>
    </div>
  </div>
</div>
{{ end }}